# Use index.php as the default file
DirectoryIndex index.php

# Redirect all requests to index.php if file/folder not found
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
